.Header {
    display: flex;
    align-items: center;
    height: 100px;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        display: flex;
        align-items: center;
    }
}


.GlobalGnb {
    &>ul {
        display: flex;
        gap: 40px;

        &>li {
            line-height: 100px;
        }

        ul {
            display: none;
            position: absolute;
            inset: 100px auto auto 50%;
            transform: translate(-50%, -20px);
            line-height: 40px;
            background: #f7f7f7;

            width: 150px;
            text-align: center;
            border: 3px solid #ddd;

            li~li {
                border-top: 1px solid #ddd;
            }
        }

        &>li {
            position: relative;

            &:hover ul {
                display: block;
            }

            a {
                display: block;
            }
        }
    }
}